<li>
    <div class="block">
        <div class="block_content">
            <h2 class="title" style="margin-bottom: 10px">
            </h2>
            <table>
                <tbody>
                <tr>
                    <td style="width: 20px">
                        <div class="data-label"> {{ 'Date'|trans }} </div>
                    <td/>
                    <td style="width: 200px">
                        <div class="data-value">{{ date }}</div>
                    </td>
                    <td style="width: 30px"></td>
                    <td style="width: 20px">
                        <div class="data-label"> {{ 'Checkpoint'|trans }} </div>
                    </td>
                    <td style="width: 200px">
                        <div class="data-value"> {{ site }} </div>
                    </td>
                    <td style="width: 30px"></td>
                    <td style="width: 20px">
                        <div class="data-label"> {{ 'Code status'|trans }} </div>
                    </td>
                    <td style="width: 200px">
                        <div class="data-value"> {{ scode }} </div>
                    </td>
                    <td style="width: 30px"></td>
                    <td style="width: 20px">
                        <div class="data-label"> {{ 'Statut'|trans }} </div>
                    </td>
                    <td style="width: 200px">
                        <div class="data-value"> {{ status }} </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</li>